# Byte-compiled / optimized / DLL files
*.py[cod]
*.py[cod].DS_Store
__pycache__/
pytest_cache/
.pytest_cache/
# Ignore virtual environment folders (example)
.idea/
.venv
logs/
.env
.env.*
private-keys/
.DS_Store